<div class="container">
  <div class="container-inner">
 <div class="container-text">
    <h1 class="welcome">Bem vindo.</h1>
    <p>Meu nome é Genilton, sou desenvolvedor há mais de 2 anos. Tenho expertise em integrar requisitos tanto dos usuários quanto do negócio em soluções escaláveis, duradouras, seguras e acessíveis em termos de custo. Minhas principais tecnologias incluem Angular.</p>
 </div>
 <img class="notebook" src="../../../assets/hero_setup.jpg" alt="">
</div>

</div>
<img class="border-path" src="../../../assets/lado.svg" alt="">
<div class="projects">
<div class="projects-text">
  <h2>Meus trabalhos</h2>
  <p>Uma coleção de projetos em que trabalhei.</p>
</div>
</div>


<div class="project-cards"> 
 
  <div class="cards" *ngFor="let item of list">
    <div class="cards-wrap">
      <div class="photo">
        <img [src]="item.image" alt="">
      </div>
      <div class="container-text-card">
        <div class="container-t">
        <h3>{{ item.title }}</h3>
        <p>{{ item.description }}</p>
        <img class="globo" [src]="item.icon" alt="">
      </div>
      
      </div>
     
    </div>
    </div>
    
</div>
<img class="down" src="../../../assets/border-down.svg" alt="">
<footer>
<div class="text-footer">
  <h3>© GeniltonSilva</h3>
  <img src="../../../assets/github.svg" alt="">
</div>
</footer>
