<div class="container">
  <div class="container-inner">
 <div class="container-text">
    <h1 class="welcome">Bem vindo.</h1>
    <p>Meu nome é Genilton, sou desenvolvedor há mais de 2 anos. Tenho expertise em integrar requisitos tanto dos usuários quanto do negócio em soluções escaláveis, duradouras, seguras e acessíveis em termos de custo. Minhas principais tecnologias incluem Angular.</p>
 </div>
 <img class="notebook" src="../../../assets/hero_setup.jpg" alt="">
</div>

</div>
<img class="border-path" src="../../../assets/lado.svg" alt="">
<div class="projects">
<div class="projects-text">
  <h2>Meus trabalhos</h2>
  <p>Uma coleção de projetos em que trabalhei.</p>
</div>
</div>
