<header>
  <img src="../../../assets/semdev.png" alt="" />

  <ul>
    <li>sobre</li>
    <li>experiencias</li>
  </ul>
</header>
<main>
  <div class="container">
    <section class="inicial">
      <h1>Desenvolvedor Front-end</h1>
      <span
        >Eu crio e programo coisas lindamente simples e amo o que faço.</span
      >
      <img src="../../../assets/Avatar-Maker.svg" alt="" />
    </section>
    <img class="imgend" src="../../../assets/hero-devices.svg" alt="" />
  </div>
  <section class="sobre">
    <div class="sobremim">
      <h2>Olá, Meu nome é Genilton. Prazer em conhecê-lo.</h2>
      <p>
        Desde que comecei minha jornada como designer freelancer há 12 anos, fiz
        trabalho remoto para agências, dei consultoria para startups e colaborei
        com pessoas talentosas para criar produtos digitais para uso comercial e
        de consumidor. Sou silenciosamente confiante, naturalmente curioso e
        estou sempre trabalhando para melhorar minhas habilidades.
      </p>
    </div>
  </section>
  <section class="experiencias">
    <div class="card-xp">
      <div class="header">
        <div class="circulos">
          <div class="cvermelho"></div>
          <div class="croxo"></div>
          <div class="cverde"></div>
        </div>
        <div class="buttons" [class.active]="isActive" (click)="toggleSwitch()">
          <span class="label" [class.active]="!isActive">atuações</span>
          <button class="switch"></button>
          <span class="label" [class.active]="isActive">Skills</span>
        </div>
      </div>
      <div class="conteudo">
        <div *ngIf="!isActive" class="xp">
          <div class="xp-one">
            <h2>Núcleo de desenvolvimento de software - Estágio</h2>
            <p class="stack">Front End | Ago 2022 - Mar 2024</p>
            <div class="texts">
              <p>
                • Integração eficiente de APIs para conectar as interfaces
                desenvolvidas a sistemas externos, garantindo a troca eficiente
                de dados e funcionalidades entre diferentes plataformas.
              </p>
              <p>
                • Utilização do Git para gerenciamento de versionamento de
                códigos.
              </p>
              <p>
                • Resolução proativa de problemas e bugs persistentes não
                previamente solucionados, assegurando a estabilidade e o
                desempenho das aplicações desenvolvidas.
              </p>
              <p>
                • Aplicação das metodologias ágeis como Scrum e Kanban para
                gerenciar projetos de forma eficaz.
              </p>
              <p>
                • Orientação de novos membros da equipe técnica para assegurar a
                excelência no código
              </p>
              <p>
                • Aprimoramento da performance e arquitetura dos sistemas ao
                aplicar padrões de projeto e corrigir as irregularidades da
                aplicação.
              </p>
              <p>
                • Revisão de código e realização de testes de unidade em
                projetos de colegas de equipe.
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="isActive" class="skills">
          <div class="add-skills">
            
            <h2>Software Skills</h2>

            <div class="aplicacoes">
              <span>Aplicações e Dados:</span>
              <div class="box">
                <div class="box-tools">Html</div>
                <div class="box-tools">Css</div>
                <div class="box-tools">Scss</div>
                <div class="box-tools">Sass</div>
                <div class="box-tools">JavaScript</div>
                <div class="box-tools">Typescript</div>
                <div class="box-tools">Angular</div>
                <div class="box-tools">Bootstrap</div>
                <div class="box-tools">Angular material</div>
                <div class="box-tools">Primeng</div>
              </div>
            </div>

            <div class="devops">
              <span>DevOps:</span>
              <div class="box">
              <div class="box-tools">Git</div>
              <div class="box-tools">Gitlab</div>
              <div class="box-tools">Github</div>
              <div class="box-tools">CI/CD</div>
            </div>
            </div>

            <div class="ferramentas">
              <span>Ferramentas:</span>
              <div class="box">
                <div class="box-tools">VS Code</div>
                <div class="box-tools">Rider</div>
                <div class="box-tools">Figma</div>
                <div class="box-tools">Insomnia</div>
                <div class="box-tools">Postman</div>
              </div>
            </div>
            <div class="metodologias">
              <span>Metodologias Ágeis:</span>
              <div class="box">
                <div class="box-tools">Scrum</div>
                <div class="box-tools">Kanban</div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="projs">
    <div class="text">
    <h1>Meu trabalho recente:</h1>
    <span>Aqui estão alguns projetos de design anteriores em que trabalhei. Quer ver mais? Envie-me um e-mail .</span>
  </div>
  <div class="teste">
    <div *ngFor="let card of carditens" class="card">
      
      <div class="resume">
      <h3>{{ card.title }}</h3>
      <p>{{card.description}}</p>
    </div>
      <img [src]="card.image" alt="">
      <div class="baixo">
        <div class="circulos">
          <div class="cvermelho"></div>
          <div class="croxo"></div>
          <div class="cverde"></div>
        </div>
      </div>
    </div>
  </div>
 
  </section>
</main>
